<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form
    [formGroup]="form"
    (submit)="onCadastrarLivro()"
    *ngIf="!estaCarregando"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Título"
        formControlName="titulo"
        name="titulo"
      />
      <mat-error *ngIf="form.get('titulo').invalid">Digite um título</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Autor"
        formControlName="autor"
        name="autor"
      />
      <mat-error *ngIf="form.get('autor').invalid"
        >Digite um nome de autor</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Número de páginas"
        formControlName="npaginas"
        name="npaginas"
      />
      <mat-error *ngIf="form.get('npaginas').invalid"
        >Digite um número de páginas</mat-error
      >
    </mat-form-field>
    <div>
      <button
        mat-stroked-button
        type="button"
        (click)="selecionaArquivo.click()"
      >
        Selecionar Imagem
      </button>
      <input type="file" #selecionaArquivo />
    </div>
    <button color="accent" mat-raised-button>Cadastrar Livro</button>
  </form>
</mat-card>
