<mat-card>
  <form (submit)="onCadastrarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Título"
        name="titulo"
        ngModel
        #titulo="ngModel"
      />
      <mat-error *ngIf="titulo.invalid">Digite um título</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Autor"
        name="autor"
        ngModel
        #autor="ngModel"
      />
      <mat-error *ngIf="autor.invalid">Digite um nome de autor</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Número de páginas"
        name="npaginas"
        ngModel
        #npaginas="ngModel"
      />
      <mat-error *ngIf="npaginas.invalid"
        >Digite um número de páginas</mat-error
      >
    </mat-form-field>
    <button color="primary" mat-raised-button>Cadastrar Livro</button>
  </form>
</mat-card>
